@import url("http://fonts.cdnfonts.com/css/casino");

.blackJackTable {
    /* font-family: helvetica; */
    background-color: darkgreen;
    @apply h-screen w-screen text-white;
}

.backdrop {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: rgba(200, 200, 200, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop p {
    text-align: center;
    font-family: "Casino 3D";
    /* font-family: "Casino Flat"; */
    width: 100vw;
    margin: 100px 0;
    padding: 150px 0;
    font-size: 5em;
    font-weight: bolder;
    background-color: rgba(0, 24, 0, 0.75);
    border-style: solid;
    border-width: 5px;
    cursor: pointer;
}

.btn {
    font-family: "Casino Flat";
}

.hide,
.hidden {
    display: none;
}

/* ********* Button Style ********** */

.btnStyle {
    @apply btn text-white font-bold py-5 px-6 border-b-4 rounded-lg mx-2;
}

.redStyle {
    @apply bg-red-500 hover:bg-red-400 border-red-700 hover:border-red-500;
}

.blueStyle {
    @apply bg-indigo-500 hover:bg-indigo-400 border-indigo-700 hover:border-indigo-500;
}

.yellowStyle {
    @apply bg-yellow-500 hover:bg-yellow-400 border-yellow-700 hover:border-yellow-500;
}
