@import url("http://fonts.cdnfonts.com/css/casino");

.blackJackTable {
    /* font-family: helvetica; */
    background-color: darkgreen;
    @apply h-screen w-screen text-white;
}

.results {
    background: rgba(200, 200, 200, 0.2);
    @apply fixed inset-0 flex justify-center items-center;
    p {
        margin: 100px 0;
        padding: 200px 0;
        background-color: rgba(0, 24, 0, 0.75);
        border: 3px solid white;
        @apply w-screen text-center cursor-pointer font-mono text-7xl font-bold shadow-lg;
    }
}

.chipListStyle {
    @apply h-2/3 flex justify-center items-center;
}
/* ********* Button Style ********** */

.btn {
    font-family: "Casino Flat";
}

.btnStyle {
    @apply btn text-white font-bold pt-5 pb-8 px-6 border-b-4 rounded-lg mx-2;
}

.redStyle {
    @apply bg-red-500 hover:bg-red-400 border-red-700 hover:border-red-500;
}

.blueStyle {
    @apply bg-indigo-500 hover:bg-indigo-400 border-indigo-700 hover:border-indigo-500;
}

.yellowStyle {
    @apply bg-yellow-500 hover:bg-yellow-400 border-yellow-700 hover:border-yellow-500;
}
